<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Local to the area for over 30 years!</h2>
                <hr class="light">
                <p class="text-faded">I love Frome and have lived here for most of my life. I have always been passionate about painting and decorating and in the last few years I have turned that passion into a business.</p>
                <a href="#contact" class="btn btn-default btn-xl">Lets get painting!</a>
            </div>
        </div>
    </div>
</section>